<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h1>Editar Rol</h1>

    <form class="rol_form" action="{{ app.request.uriForPath('/rol/') }}{{ entity.id }}/update" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
        <button type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
        <a href="{{ app.request.uriForPath('/#!/rol') }}">
            Back to the list
        </a>
        </li>
        <li>
        <form action="{{ app.request.uriForPath('/rol/') }}{{ entity.id }}/delete" method="post">
            {{ form_widget(delete_form) }}
            <button class="delete_form_btn" type="submit">Delete</button>
        </form>
        </li>
    </ul>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
