<h1>Rol list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Hora Comienzo</th>
            <th>Hora Finalización</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.monto }}</td>
            <td>{{ entity.horaComerStart }}</td>
            <td>{{ entity.horaComerEnd }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ app.request.uriForPath('/#!/rol/') }}{{ entity.id }}/show">show</a>
                    </li>
                    <li>
                        <a href="{{ app.request.uriForPath('/#!/rol/') }}{{ entity.id }}/edit">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ app.request.uriForPath('/#!/rol/new') }}">
            Create a new entry
        </a>
    </li>
</ul>
