
<div id="my-col-text">

    <h1>Roles</h1>

    <table class="bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Monto</th>
                <th>Hora Comienzo</th>
                <th>Hora Finalización</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.monto }}</td>
                <td>{{ entity.horaComerStart }} {{ entity.horaComerStartAMPM }}</td>
                <td>{{ entity.horaComerEnd }} {{ entity.horaComerEndAMPM }}</td>
                <td>
                    <a href="{{ app.request.uriForPath('/#!/rol/') }}{{ entity.id }}/show"><img src="{{ asset('img/show.ico') }}" height="30" width="30" /></a>
                    <a href="{{ app.request.uriForPath('/#!/rol/') }}{{ entity.id }}/edit"><img src="{{ asset('img/edit.ico') }}" height="30" width="30" /></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />
    <a class="mybutton" href="{{ app.request.uriForPath('/#!/rol/new') }}">
        Crear Nuevo
    </a>
</div> <!-- /col-text -->
