
<div id="my-col-text">

    <h1>Agregar Rol</h1>
    <form class="rol_form" action="{{ app.request.uriForPath('/rol/create') }}" method="post" {{ form_enctype(form) }}>
        {#
        {{ form_widget(form) }}
        <p>
        <button type="submit">Agregar</button>
        </p>
        #}
        {{ form_row(form._token) }}

        <div id="rol-nombre-block" class="field">
            <label for="nombre">Nombre</label>
            {{ form_widget(form.nombre,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="rol-monto-block" class="field">
            <label for="monto">Monto</label>
            {{ form_widget(form.monto,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="rol-horaComerStart-block" class="field">
            <label for="horaComerStart">Hora Comer Inicio</label>
            {{ form_widget(form.horaComerStart,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="rol-horaComerStartAMPM-block" class="field">
            <label for="horaComerStartAMPM">Hora Comer Inicio AM/PM</label>
            {{ form_widget(form.horaComerStartAMPM,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="rol-horaComerEnd-block" class="field">
            <label for="horaComerEnd">Hora Comer Fin</label>
            {{ form_widget(form.horaComerEnd,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="rol-horaComerEndAMPM-block" class="field">
            <label for="horaComerEndAMPM">Hora Comer Fin AM/PM</label>
            {{ form_widget(form.horaComerEndAMPM,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div class="action">
            <input id="login-submit" class="submit-button" type="submit" value="Agregar" />
        </div>
    </form>

    <ul class="record_actions">
        <li>
        <a href="{{ app.request.uriForPath('/#!/rol') }}">
            Regresar a la lista
        </a>
        </li>
    </ul>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
