
<div id="my-col-text">

    <h1>Mostrar Rol</h1>

    <table class="bordered">
        <tbody>
            <tr class="fix-tsearch">
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Monto</th>
                <td>{{ entity.monto }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Hora Comienzo</th>
                <td>{{ entity.horaComerStart }} {{ entity.horaComerStartAMPM }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Hora Finalización</th>
                <td>{{ entity.horaComerEnd }} {{ entity.horaComerEndAMPM }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
        <a href="{{ app.request.uriForPath('/#!/rol') }}">
            Regresar a la lista
        </a>
        </li>
        <li>
        <a href="{{ app.request.uriForPath('/#!/rol/') }}{{ entity.id }}/edit">
            Editar
        </a>
        </li>
        <li>
        <form class="generic" action="{{ app.request.uriForPath('/rol/') }}{{ entity.id }}/delete" method="post">
            {{ form_widget(delete_form) }}
            {#
            <button class="delete_form_btn" type="submit">Delete</button>
            #}
            <input id="login-submit" class="submit-button delete_form-btn" type="submit" value="Eliminar" />
        </form>
        </li>
    </ul>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
