<h1>Rol</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Monto</th>
            <td>{{ entity.monto }}</td>
        </tr>
        <tr>
            <th>Hora Comienzo</th>
            <td>{{ entity.horaComerStart }}</td>
        </tr>
        <tr>
            <th>Hora Finalización</th>
            <td>{{ entity.horaComerEnd }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ app.request.uriForPath('/#!/rol') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ app.request.uriForPath('/#!/rol/') }}{{ entity.id }}/edit">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('rol_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
