
<div id="my-col-text">

    <h1>Mostrar Rol</h1>

    <table class="bordered">
        <tbody>
            <tr class="fix-tsearch">
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Monto</th>
                <td>{{ entity.monto }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Hora Comienzo</th>
                <td>{{ entity.horaComerStart }} {{ entity.horaComerStartAMPM }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Hora Finalización</th>
                <td>{{ entity.horaComerEnd }} {{ entity.horaComerEndAMPM }}</td>
            </tr>
        </tbody>
    </table>

        <a class="mybutton" href="{{ app.request.uriForPath('/#!/rol/') }}{{ entity.id }}/edit">
            Editar
        </a>
        <form class="generic" action="{{ app.request.uriForPath('/rol/') }}{{ entity.id }}/delete" method="post">
            {{ form_widget(delete_form) }}
            <input id="login-submit" class="submit-button delete_form-btn" type="submit" value="Eliminar" />
        </form>
        <br />
        <a href="{{ app.request.uriForPath('/#!/rol') }}"><img src="{{ asset('img/back.ico') }}" height="40" width="40" /></a>
    </ul>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
