<?xml version="1.0"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="all,follow" />

    <meta name="author" lang="en" content="All: Your name [www.url.com]; e-mail: info@url.com" />

    <meta name="description" content="Servicio de Comedor - INCES" />
    <meta name="keywords" content="Servicio, Comedor, CSS, HTML" />

{% block stylesheets %}
    <link href="{{ asset('css/reset.css') }}" media="screen,projection" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/main.css') }}" media="screen,projection" type="text/css" rel="stylesheet" />
    <!--[if lte IE 6]><link href="{{ asset('css/main-msie.css') }}" type="text/css" rel="stylesheet" /><![endif]-->
    <link href="{{ asset('css/style.css') }}" media="screen,projection" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/print.css') }}" media="print" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/menu.css') }}" media="screen,projection" type="text/css" rel="stylesheet" />
{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}INCES COMEDOR{% endblock %}</title>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div id="header">

        <h1 id="logo"><a href="./" title="[Go to homepage]"><img src="{{ asset('img/inces.jpg') }}" width="120" length="90" alt="" /></a></h1>
        <hr class="noscreen" />

        <!-- Navigation -->
        <div id="nav">
        {% block session %}{% endblock %}
            <a href= "{{ app.request.uriForPath('/#!/login') }}" id="nav-active">Login</a> <span>|</span>
            <a href= "{{ app.request.uriForPath('/#!/logout') }}" id="nav-active">Logout</a>
        <!--
            <a href="#">About us</a> <span>|</span>
            <a href="#">Support</a> <span>|</span>
            <a href="#">Contact</a>
        -->
        </div>
        <!-- /nav -->

    </div> <!-- /header -->
    {#
        <!-- Search -->
        <div id="search" class="box">
            <form action="#" method="get">
                <div class="box">
                    <div id="search-input"><span class="noscreen">Search:</span><input type="text" size="30" name="" value="Search" /></div>
                    <div id="search-submit"><input type="image" src="{{ asset('design/search-submit.gif') }}" value="OK" /></div>
                </div>
            </form>
        </div> <!-- /search -->
    #}

    <!-- Menu -->
    <br />
    {% if is_granted("ROLE_ADMIN") %}
        <div id="menu">
            <ul class="menu">
                <li><a href="{{ app.request.uriForPath('/#!/menu/facturar') }}"><span>Facturar</span></a></li>
                <li><a href="{{ app.request.uriForPath('/#!/usuario') }}"><span>Usuarios</span></a>
                <div>
                    <ul>
                        <li><a href="{{ app.request.uriForPath('/#!/usuario') }}" ><span>Acciones</span></a></li>
                        <li><a href="#" class="parent"><span>Operación Masiva</span></a>
                        <div>
                            <ul>
                                <li><a href="{{ app.request.uriForPath('/#!/usuario/cmasivo') }}"><span>Carga</span></a></li>
                                <li><a href="{{ app.request.uriForPath('/#!/usuario/amasivo') }}"><span>Actualización</span></a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
                </li>
                <li><a href="{{ app.request.uriForPath('/#!/padmin') }}"><span>Personal Administrativo</span></a>
                    <div>
                        <ul>
                            <li><a href="{{ app.request.uriForPath('/#!/register') }}"><span>Acciones</span></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ app.request.uriForPath('/#!/contabilidad') }}"><span>Contabilidad</span></a></li>
                <li><a href="{{ app.request.uriForPath('/#!/menu') }}"><span>Menu</span></a>
                    <div>
                        <ul>
                            <li><a href="{{ app.request.uriForPath('/#!/menu') }}"><span>Acciones</span></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ app.request.uriForPath('/#!/tickets') }}"><span>Tickets</span></a>
                    <div>
                        <ul>
                            <li><a href="{{ app.request.uriForPath('/#!/tickets') }}"><span>Acciones</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="last"><span>&nbsp;&nbsp;&nbsp;</span></li>
            </ul>
        </div>
    {% elseif is_granted("ROLE_GERENTE") %}
        <div id="menu">
            <ul class="menu">
                <li><a href="{{ app.request.uriForPath('/#!/menu/facturar') }}"><span>Facturar</span></a></li>
                <li><a href="{{ app.request.uriForPath('/#!/menu') }}"><span>Menu</span></a>
                    <div>
                        <ul>
                            <li><a href="{{ app.request.uriForPath('/#!/menu') }}"><span>Acciones</span></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ app.request.uriForPath('/#!/usuario') }}"><span>Usuarios</span></a>
                <div>
                    <ul>
                        <li><a href="{{ app.request.uriForPath('/#!/usuario') }}" ><span>Acciones</span></a></li>
                        <li><a href="#" class="parent"><span>Operación Masiva</span></a>
                        <div>
                            <ul>
                                <li><a href="{{ app.request.uriForPath('/#!/usuario/cmasivo') }}"><span>Carga</span></a></li>
                                <li><a href="{{ app.request.uriForPath('/#!/usuario/amasivo') }}"><span>Actualización</span></a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
                </li>
                <li class="last"><span>&nbsp;&nbsp;&nbsp;</span></li>
            </ul>
        </div>
    {% elseif is_granted("ROLE_OPERADOR") %}
        <div id="menu">
            <ul class="menu">
                <li><a href="{{ app.request.uriForPath('/#!/menu/facturar') }}"><span>Facturar</span></a></li>
                <li><a href="{{ app.request.uriForPath('/#!/menu') }}" class="parent"><span>Menu</span></a>
                    <div>
                        <ul>
                            <li><a href="{{ app.request.uriForPath('/#!/menu') }}"><span>Acciones</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    {% else %}
        <div id="menu">
            <ul class="menu">
                <li><a href="{{ app.request.uriForPath('/#!/menu') }}"><span>Ver Menu</span></a></li>
                <li><a href="{{ app.request.uriForPath('/#!/usuario/search') }}"><span>Ver Usuario por Cédula</span></a>
            </ul>
        </div>
    {% endif %}

    <!-- End Menu -->

    <!-- Promo -->
    <div id="col-top"></div>
    <div id="col" class="box">

        {#
        <div id="ribbon"></div> <!-- /ribbon (design/ribbon.gif) -->
        #}

        <!-- Screenshot in browser (replace img/browser.gif) -->
        <div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}</div>

        <div id="col-text">

            <h2 id="slogan"><span></span>Place for your slogan.</h2>
            {% block body %}{% endblock %}
            <div id="content"></div>

            <p></p>

            <p id="btns">
                <a href="#"><img src="{{ asset('design/btn-tell.gif') }}" alt="" /></a>
                <a href="#"><img src="{{ asset('design/btn-purchase.gif') }}" alt="" /></a>
            </p>

        </div> <!-- /col-text -->

    </div> <!-- /col -->
    <div id="col-bottom"></div>

    <hr class="noscreen" />

    <!-- 3 columns -->
    <div id="cols3-top"></div>
    <div id="cols3" class="box">

        <!-- Column I. -->
        <div class="col">

            <h3><a href="#">Product I.</a></h3>

            <p class="nom t-center"><a href="#"><img src="{{ asset('img/200x140.gif') }}" alt="" /></a></p>

            <div class="col-text">

                <p></p>

                <ul class="ul-01">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>

            </div> <!-- /col-text -->

            <div class="col-more"><a href="#"><img src="{{ asset('design/cols3-more.gif') }}" alt="" /></a></div>

        </div> <!-- /col -->

        <hr class="noscreen" />

        <!-- Column II. -->
        <div class="col">

            <h3><a href="#">Product II.</a></h3>

            <p class="nom t-center"><a href="#"><img src="{{ asset('img/200x140.gif') }}" alt="" /></a></p>

            <div class="col-text">

                <p></p>

                <ul class="ul-01">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>

            </div> <!-- /col-text -->

            <div class="col-more"><a href="#"><img src="{{ asset('design/cols3-more.gif') }}" alt="" /></a></div>

        </div> <!-- /col -->

        <hr class="noscreen" />

        <!-- Column III. -->
        <div class="col last">

            <h3><a href="#">Product III.</a></h3>

            <p class="nom t-center"><a href="#"><img src="{{ asset('img/200x140.gif') }}" alt="" /></a></p>

            <div class="col-text">

                <p></p>

                <ul class="ul-01">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>

            </div> <!-- /col-text -->

            <div class="col-more"><a href="#"><img src="{{ asset('design/cols3-more.gif') }}" alt="" /></a></div>

        </div> <!-- /col -->

        <hr class="noscreen" />

    </div> <!-- /cols3 -->
    <div id="cols3-bottom"></div>

    <!-- 2 columns -->
    <div id="cols2-top"></div>
    <div id="cols2" class="box">

        <!-- Blog -->
        <div id="col-left">

            <div class="title">
                <span class="f-right"><a href="#" class="ico-rss">RSS feed</a></span>
                <h4>Blog</h4>
            </div> <!-- /title -->

            <ul class="ul-list nomb">
                <li><span class="f-right"><a href="#" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="#" class="article">Lorem ipsum dolor sit amet</a></li>
                <li><span class="f-right"><a href="#" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="#" class="article">Lorem ipsum dolor sit amet</a></li>
                <li><span class="f-right"><a href="#" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="#" class="article">Lorem ipsum dolor sit amet</a></li>
                <li><span class="f-right"><a href="#" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="#" class="article">Lorem ipsum dolor sit amet</a></li>
                <li><span class="f-right"><a href="#" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="#" class="article">Lorem ipsum dolor sit amet</a></li>
            </ul>

        </div> <!-- /col-left -->

        <hr class="noscreen" />

        <!-- Testimonials -->
        <div id="col-right">

            <h4><span>Testimonials</span></h4>

            <div class="box">

                <div class="col-right-img"><img src="{{ asset('img/65x65.gif') }}" width="65" height="65" alt="" /></div>
                <div class="col-right-text">

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc feugiat. <strong>In a massa.</strong> In feugiat pharetra lacus. In non arcu nec libero pharetra rutrum.</p>
                    <p class="high smaller">&ndash; <cite>John Doe, Some Corporation</cite></p>

                </div> <!-- /col-right-text -->

            </div> <!-- /box -->

        </div> <!-- /col-right -->

    </div> <!-- /cols2 -->
    <div id="cols2-bottom"></div>

    <hr class="noscreen" />

    <!-- Footer -->
    <div id="footer">

        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
        <!--<p class="f-right"><a href="http://www.nuviotemplates.com/">Free
        web templates</a> presented by <a
        href="http://www.qartin.cz/">QARTIN</a> &ndash; Our tip: <a
        href="http://last-minute.invia.pl">Wakacje</a> <a
        href="http://dovolenka.invia.sk">Dovolenka</a></p>-->
        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->

        <!--<p>Copyright &copy;&nbsp;2008 <strong><a href="#">Your
        Name</a></strong>, All Rights Reserved &reg;</p>-->

    </div> <!-- /footer -->

</div> <!-- /main -->

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/common.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/menu.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
{% endblock %}
<a href="http://apycom.com/" ></a>
</body>
</html>
