<div id="my-col-text">

    <h1>Editar Usuario Administrativo</h1>
    {% form_theme form theme %}

    <div id="results"></div>
    <form class="user_admin_profile_form generic" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        {#
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
        #}
        <input class="route" type="hidden" value="{{route}}"/>
        {{ form_row(form._token) }}

        <div id="login-admin-username-block" class="field">
            <label for="username">Nombre de Usuario</label>
            {{ form_widget(form.user.username,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="login-admin-email-block" class="field">
            <label for="email">Correo</label>
            {{ form_widget(form.user.email,  { 'attr': {'class': 'text'}}) }}
        </div>
        {#
        <div id="login-admin-nombre-block" class="field">
            <label for="nombre">Nombre</label>
            {{ form_widget(form.nombre,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="login-admin-apellido-block" class="field">
            <label for="apellido">Apellido</label>
            {{ form_widget(form.user.apellido,  { 'attr': {'class': 'text'}}) }}
        </div>
        #}
        <div id="login-admin-current-block" class="field">
            <label for="current">Contraseña Actual</label>
            {{ form_widget(form.current,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div class="action">
            <input id="login-submit" class="login_form_btn submit-button" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
