<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <table>
        <tr class="tsearch">
            <td>
                <h1>Listar Usuarios Menu</h1>
            </td>
            <td>
                <div id="filter">
                    <form class="generic" action="{{ app.request.uriForPath('/usuariomenu/searcha') }}" method="get">
                        <img src="{{ asset('img/search.png') }}" class="searchbox_submit" value="" />
                        <input autocomplete="off" type="text" class="text" name="query" value="{{query}}" id="search_keywords" />
                        <input type="submit" value="search" style="display:none;"/>
                    </form>
                </div>
            <td>
        </tr>
    </table>
        <table class="bordered">
            <thead>
                <tr>
                    {% if field is defined %}
                        {% if attr is defined %}
                            {% if field == "dia" and attr == "1" %}
                                <th><a class="filter" value="dia" asc="{{attr}}" href="{{ path('usuariomenu_search_ajax') }}">Fecha /\</a></th>
                            {% elseif field == "dia" and attr == "0" %}
                                <th><a class="filter" value="dia" asc="{{attr}}" href="{{ path('usuariomenu_search_ajax') }}">Fecha \/</a></th>
                            {% else %}
                                <th><a class="filter" value="dia" asc="1" href="{{ path('usuariomenu_search_ajax') }}">Fecha</a></th>
                            {% endif %}
                        {% else %}
                            <th><a class="filter" value="dia"         asc="1" href="{{ path('usuariomenu_search_ajax') }}">Fecha</a></th>
                        {% endif %}
                    {% else %}
                        <th><a class="filter" value="dia"         asc="1" href="{{ path('usuariomenu_search_ajax') }}">Fecha</a></th>
                    {% endif %}
                    <th>Usuario</th>
                    <th>Menu</th>
                </tr>
            </thead>
            <tbody>
                {% if pagination|length == 0 %}
                    <p>No hay resultados</p>
                {% endif %}
                {% for entity in pagination %}
                <tr>
                    <td>{% if entity.dia %}{{ entity.dia|date('d-m-Y H:i:s') }}{% endif %}</td>
                    <td>{{ entity.usuario }}</td>
                    {% if entity.menu != ""  %}
                        <td>{{ entity.menu }}</td>
                    {% else %}
                        <td>No hay información disponible.</td>
                    {% endif %}
                    <td>
                        <a href="{{ app.request.uriForPath('/#!/usuariomenu/') }}{{ entity.id }}/show">show</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if pagination|length != 0 %}
        <div class="navigation">
            {{pagination.render()|replace({'usuariomenu': '#!/usuariomenu'})|raw}}
        </div>
        {% endif %}
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
    </div> <!-- /col-text -->
