<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <h1>UsuarioMenu creation</h1>

    <form class="usuariomenu_form" action="{{ app.request.uriForPath('/usuariomenu/create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
        <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
        <a href="{{ app.request.uriForPath('/#!/usuariomenu') }}">
            Back to the list
        </a>
        </li>
    </ul>
    <p id="btns">
    <a href="#"><img src="{{ asset('design/btn-tell.gif') }}" alt="" /></a>
    <a href="#"><img src="{{ asset('design/btn-purchase.gif') }}" alt="" /></a>
    </p>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
