
<div id="my-col-text">

    <h1>Usuario Menu</h1>

    <table class="bordered">
        <tbody>
            <tr class="fix-tsearch">
                <th>Día</th>
                <td>{{ entity.dia|date('d-m-Y H:i:s') }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Menú</th>
                {% if entity.menu != ""  %}
                    <td>{{ entity.menu }}</td>
                {% else %}
                    <td>No hay información disponible.</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
        <a href="{{ app.request.uriForPath('/#!/usuariomenu') }}">
            Regresar a la lista
        </a>
        </li>
        {#
        <li>
        <a href="{{ app.request.uriForPath('/#!/usuariomenu/') }}{{ entity.id }}/edit">
            Edit
        </a>
        </li>
        #}
        <form class="generic" action="{{ app.request.uriForPath('/usuariomenu/') }}{{ entity.id }}/delete" method="post">
            {{ form_widget(delete_form) }}
            {#
            <button class="delete_form_btn" type="submit">Delete</button>
            #}
            <div class="action">
                <input id="login-submit" class="delete_form_btn submit-button" type="submit" value="Eliminar" />
            </div>
        </form>
    </ul>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
