<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h1>Usuario Menu</h1>

    <table class="bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dia</th>
                <td>{{ entity.dia|date('d-m-Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr>
                <th>Menu</th>
                {% if entity.menu != ""  %}
                    <td>{{ entity.menu }}</td>
                {% else %}
                    <td>No hay información disponible.</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
        <a href="{{ app.request.uriForPath('/#!/usuariomenu') }}">
            Back to the list
        </a>
        </li>
        {#
        <li>
        <a href="{{ app.request.uriForPath('/#!/usuariomenu/') }}{{ entity.id }}/edit">
            Edit
        </a>
        </li>
        #}
        <li>
        <form action="{{ app.request.uriForPath('/usuariomenu/') }}{{ entity.id }}/delete" method="post">
            {{ form_widget(delete_form) }}
            <button class="delete_form_btn" type="submit">Delete</button>
        </form>
        </li>
    </ul>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
