
<div id="my-col-text">
    <table>
        <tr class="tsearch">
            <td>
                <h1>Listar Menus</h1>
            </td>
            <td>
                <div id="filter">
                    <form class="generic" action="{{ app.request.uriForPath('/menu/search') }}" method="get">
                        <img src="{{ asset('img/search.png') }}" class="searchbox_submit" value="" />
                        <input autocomplete="off" type="text" class="text" name="query" value="{{query}}" id="search_keywords" />
                        <input class="search_keywords" type="submit" value="search" style="display:none;"/>
                    </form>
                </div>
            <td>
        </tr>
    </table>
        <table class="bordered">
            <thead>
                <tr>
                    {% if field is defined %}
                    {% if attr is defined %}
                    {% if field == "seco" and attr == "1" %}
                    <th><a class="filter" value="seco" asc="{{attr}}" href="{{ path('menu_search') }}">Seco /\</a></th>
                    {% elseif field == "seco" and attr == "0" %}
                    <th><a class="filter" value="seco" asc="{{attr}}" href="{{ path('menu_search') }}">Seco \/</a></th>
                    {% else %}
                    <th><a class="filter" value="seco" asc="1" href="{{ path('menu_search') }}">Seco</a></th>
                    {% endif %}
                    {% if field == "sopa" and attr == "1" %}
                    <th><a class="filter" value="sopa" asc="{{attr}}" href="{{ path('menu_search') }}">Sopa /\</a></th>
                    {% elseif field == "sopa" and attr == "0" %}
                    <th><a class="filter" value="sopa" asc="{{attr}}" href="{{ path('menu_search') }}">Sopa \/</a></th>
                    {% else %}
                    <th><a class="filter" value="sopa" asc="1" href="{{ path('menu_search') }}">Sopa</a></th>
                    {% endif %}
                    {% if field == "salado" and attr == "1" %}
                    <th><a class="filter" value="salado"  asc="{{attr}}" href="{{ path('menu_search') }}">Salado /\</a></th>
                    {% elseif field == "salado" and attr == "0" %}
                    <th><a class="filter" value="salado"  asc="{{attr}}" href="{{ path('menu_search') }}">Salado \/</a></th>
                    {% else %}
                    <th><a class="filter" value="salado"  asc="1" href="{{ path('menu_search') }}">Salado</a></th>
                    {% endif %}
                    {% if field == "jugo" and attr == "1" %}
                    <th><a class="filter" value="jugo"  asc="{{attr}}" href="{{ path('menu_search') }}">Jugo /\</a></th>
                    {% elseif field == "jugo" and attr == "0" %}
                    <th><a class="filter" value="jugo"  asc="{{attr}}" href="{{ path('menu_search') }}">Jugo \/</a></th>
                    {% else %}
                    <th><a class="filter" value="jugo"  asc="1" href="{{ path('menu_search') }}">Jugo</a></th>
                    {% endif %}
                    {% if field == "ensalada" and attr == "1" %}
                    <th><a class="filter" value="ensalada"  asc="{{attr}}" href="{{ path('menu_search') }}">Ensalada /\</a></th>
                    {% elseif field == "ensalada" and attr == "0" %}
                    <th><a class="filter" value="ensalada"  asc="{{attr}}" href="{{ path('menu_search') }}">Ensalada \/</a></th>
                    {% else %}
                    <th><a class="filter" value="ensalada"  asc="1" href="{{ path('menu_search') }}">Ensalada</a></th>
                    {% endif %}
                    {% if field == "postre" and attr == "1" %}
                    <th><a class="filter" value="postre"  asc="{{attr}}" href="{{ path('menu_search') }}">Postre /\</a></th>
                    {% elseif field == "postre" and attr == "0" %}
                    <th><a class="filter" value="postre"  asc="{{attr}}" href="{{ path('menu_search') }}">Postre \/</a></th>
                    {% else %}
                    <th><a class="filter" value="postre"  asc="1" href="{{ path('menu_search') }}">Postre</a></th>
                    {% endif %}
                    {% if field == "dia" and attr == "1" %}
                    <th><a class="filter" value="dia"  asc="{{attr}}" href="{{ path('menu_search') }}">Día /\</a></th>
                    {% elseif field == "dia" and attr == "0" %}
                    <th><a class="filter" value="dia"  asc="{{attr}}" href="{{ path('menu_search') }}">Día \/</a></th>
                    {% else %}
                    <th><a class="filter" value="dia"  asc="1" href="{{ path('menu_search') }}">Día</a></th>
                    {% endif %}
                    {% else %}
                    <th><a class="filter" value="seco"     asc="1" href="{{ path('menu_search') }}">Seco</a></th>
                    <th><a class="filter" value="sopa"     asc="1" href="{{ path('menu_search') }}">Sopa</a></th>
                    <th><a class="filter" value="salado"   asc="1" href="{{ path('menu_search') }}">Salado</a></th>
                    <th><a class="filter" value="jugo"     asc="1" href="{{ path('menu_search') }}">Jugo</a></th>
                    <th><a class="filter" value="ensalada" asc="1" href="{{ path('menu_search') }}">Ensalada</a></th>
                    <th><a class="filter" value="postre"   asc="1" href="{{ path('menu_search') }}">Postre</a></th>
                    <th><a class="filter" value="dia"      asc="1" href="{{ path('menu_search') }}">Día</a></th>
                    {% endif %}
                    {% else %}
                    <th><a class="filter" value="seco"     asc="1" href="{{ path('menu_search') }}">Seco</a></th>
                    <th><a class="filter" value="sopa"     asc="1" href="{{ path('menu_search') }}">Sopa</a></th>
                    <th><a class="filter" value="salado"   asc="1" href="{{ path('menu_search') }}">Salado</a></th>
                    <th><a class="filter" value="jugo"     asc="1" href="{{ path('menu_search') }}">Jugo</a></th>
                    <th><a class="filter" value="ensalada" asc="1" href="{{ path('menu_search') }}">Ensalada</a></th>
                    <th><a class="filter" value="postre"   asc="1" href="{{ path('menu_search') }}">Postre</a></th>
                    <th><a class="filter" value="dia"      asc="1" href="{{ path('menu_search') }}">Día</a></th>
                    {% endif %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if pagination|length == 0 %}
                <p>No hay resultados</p>
                {% endif %}
                {% for entity in pagination %}
                <tr>
                    <td>{{ entity.seco }}</td>
                    <td>{{ entity.sopa }}</td>
                    <td>{{ entity.salado }}</td>
                    <td>{{ entity.jugo }}</td>
                    <td>{{ entity.ensalada }}</td>
                    <td>{{ entity.postre }}</td>
                    <td>{% if entity.dia %}{{ entity.dia|date('d/m/Y') }}{% endif%}</td>
                    <td>
                        {#
                        <a href="{{ path('menu_show', { 'id': entity.id }) }}">show</a>
                        #}
                        {#
                        <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/show"><img src="{{ asset('img/Search.ico') }}" class="searchbox_submit" value="" width="10" height="10" /></a>
                        #}
                        {% if is_granted("ROLE_USER") %}
                        <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/edit"><img src="{{ asset('img/edit.ico') }}" value="" height="30" width="30" /></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {#
        <ul>
            <li>
            <a href="{{ path('menu_new') }}">
                Create a new entry
            </a>
            -->
            <br />
            <div class="navigation">
                {{ pagination.render()|raw }}
            </div>
            <br />
            {% if is_granted("ROLE_USER") %}
            <a href="{{ app.request.uriForPath('/#!/menu/new') }}">
                Create a new entry
            </a>
            {% endif %}
            </li>
        </ul>
        #}
        {#
        <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
        #}
        {% if pagination|length != 0 %}
        <div class="navigation">
            {{pagination.render()|replace({'menu': '#!/menu'})|raw}}
        </div>
        {% endif %}

        {#
        <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
        #}
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>

</div> <!-- /col-text -->
