<div id="col-browser">
    <div class="side-dock">
        <div class="social-block">
            {% render 'INCESComedorBundle:Usuario:lunchToday' %}
        </div>
    </div>
</div>

<div id="col-text">

    <table>
        <tr class="tsearch">
            <td>
                <h1>Menu Facturar</h1>
            </td>
            <td>
                <div id="filter">
                    <form class="generic" action="{{ app.request.uriForPath('/menu/searchafact') }}" method="get">
                        <img src="{{ asset('img/search.png') }}" class="searchbox_submit" value="" />
                        <input autocomplete="off" type="text" class="text" name="query" value="{{query}}" id="search_keywords" />
                        <input type="submit" value="search" style="display:none;"/>
                    </form>
                </div>
            <td>
        </tr>
    </table>
        <table class="bordered">
            <thead>
                <tr>
                    <th>Accede</th>
                    {% if field is defined %}
                    {% if attr is defined %}
                    {% if field == "cedula" and attr == "1" %}
                    <th><a class="filter" value="cedula" asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Cédula /\</a></th>
                    {% elseif field == "cedula" and attr == "0" %}
                    <th><a class="filter" value="cedula" asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Cédula \/</a></th>
                    {% else %}
                    <th><a class="filter" value="cedula" asc="1" href="{{ path('menu_search_ajax_facturar') }}">Cédula</a></th>
                    {% endif %}
                    {% if field == "nombre" and attr == "1" %}
                    <th><a class="filter" value="nombre" asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Nombre /\</a></th>
                    {% elseif field == "nombre" and attr == "0" %}
                    <th><a class="filter" value="nombre" asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Nombre \/</a></th>
                    {% else %}
                    <th><a class="filter" value="nombre" asc="1" href="{{ path('menu_search_ajax_facturar') }}">Nombre</a></th>
                    {% endif %}
                    {% if field == "apellido" and attr == "1" %}
                    <th><a class="filter" value="apellido"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Apellido /\</a></th>
                    {% elseif field == "apellido" and attr == "0" %}
                    <th><a class="filter" value="apellido"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Apellido \/</a></th>
                    {% else %}
                    <th><a class="filter" value="apellido"  asc="1" href="{{ path('menu_search_ajax_facturar') }}">Apellido</a></th>
                    {% endif %}
                    {% if field == "ncarnet" and attr == "1" %}
                    <th><a class="filter" value="ncarnet"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Carnet /\</a></th>
                    {% elseif field == "ncarnet" and attr == "0" %}
                    <th><a class="filter" value="ncarnet"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Carnet \/</a></th>
                    {% else %}
                    <th><a class="filter" value="ncarnet"  asc="1" href="{{ path('menu_search_ajax_facturar') }}">Carnet</a></th>
                    {% endif %}
                    {% if field == "rol" and attr == "1" %}
                    <th><a class="filter" value="rol"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Rol /\</a></th>
                    {% elseif field == "rol" and attr == "0" %}
                    <th><a class="filter" value="rol"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Rol \/</a></th>
                    {% else %}
                    <th><a class="filter" value="rol"  asc="1" href="{{ path('menu_search_ajax_facturar') }}">Rol</a></th>
                    {% endif %}
                    {% else %}
                    <th><a class="filter" value="cedula"     asc="1" href="{{ path('menu_search_ajax_facturar') }}">Cédula</a></th>
                    <th><a class="filter" value="nombre"     asc="1" href="{{ path('menu_search_ajax_facturar') }}">Nombre</a></th>
                    <th><a class="filter" value="apellido"   asc="1" href="{{ path('menu_search_ajax_facturar') }}">Apellido</a></th>
                    <th><a class="filter" value="ncarnet"    asc="1" href="{{ path('menu_search_ajax_facturar') }}">Carnet</a></th>
                    <th><a class="filter" value="rol"        asc="1" href="{{ path('menu_search_ajax_facturar') }}">Rol</a></th>
                    {% endif %}
                    {% else %}
                    <th><a class="filter" value="cedula"     asc="1" href="{{ path('menu_search_ajax_facturar') }}">Cédula</a></th>
                    <th><a class="filter" value="nombre"     asc="1" href="{{ path('menu_search_ajax_facturar') }}">Nombre</a></th>
                    <th><a class="filter" value="apellido"   asc="1" href="{{ path('menu_search_ajax_facturar') }}">Apellido</a></th>
                    <th><a class="filter" value="ncarnet"    asc="1" href="{{ path('menu_search_ajax_facturar') }}">Carnet</a></th>
                    <th><a class="filter" value="rol"        asc="1" href="{{ path('menu_search_ajax_facturar') }}">Rol</a></th>
                    {% endif %}
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                {% if pagination|length == 0 %}
                <p>No hay resultados</p>
                {% endif %}
                {#
                <div id="usuarios">
                    #}
                    <div id="dialog" title="No se puede procesar">
                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
                    </div>
                    {% for entity in pagination %}
                        {% set hour = "now"|date("H") %}
                        {% if entity.rol.horaComerStartAMPM == "pm" and entity.rol.horaComerEndAMPM == "pm" %}
                            {% set hourStart = entity.rol.horaComerStart + 12 %}
                            {% set hourEnd = entity.rol.horaComerEnd + 12 %}
                        {% elseif entity.rol.horaComerStartAMPM == "pm" and entity.rol.horaComerEndAMPM == "am" %}
                            {% set hourStart = entity.rol.horaComerStart + 12 %}
                            {% set hourEnd = entity.rol.horaComerEnd %}
                        {% elseif entity.rol.horaComerStartAMPM == "am" and entity.rol.horaComerEndAMPM == "pm" %}
                            {% set hourStart = entity.rol.horaComerStart %}
                            {% set hourEnd = entity.rol.horaComerEnd + 12 %}
                        {% else %}
                            {% set hourStart = entity.rol.horaComerStart %}
                            {% set hourEnd = entity.rol.horaComerEnd %}
                        {% endif %}
                        {% if entity.rol.horaComerEndAMPM == "am" and entity.rol.horaComerEnd == 12 %}
                            {% set hourEnd = 24 %}
                        {% endif %}
                        {% set _lncTd = false %}
                        {% for lncTd in userLncTd %}
                            {% if lncTd.usuario.id == entity.id %}
                                {% set _lncTd = true %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            {% if hour >= hourStart and hour <= hourEnd and not _lncTd %}
                                <td><a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/showfacturar">Sí :)</a></td>
                                <td>{{ entity.cedula }}</td>
                                <td>{{ entity.nombre }}</td>
                                <td>{{ entity.apellido }}</td>
                                <td>{{ entity.ncarnet }}</td>
                                <td>{{ entity.rol }}</td>
                                {% if entity.image == '' %}
                                    <td><img src="{{ asset('img/guest_user.png') }}" width="75" height="75" alt="" /></td>
                                {% else %}
                                    <td><img src="{{ asset('img/uploaded/') }}{{entity.image|replace({'/tmp/':''})}}" width="75" height="75" alt="" /></td>
                                {% endif %}
                            {% else %}
                                <td><a class="opener" href="" value="{{ app.request.uriForPath('/menu/') }}{{ entity.id }}/showfacturar">No! :(</a></td>
                                <td>{{ entity.cedula }}</td>
                                <td>{{ entity.nombre }}</td>
                                <td>{{ entity.apellido }}</td>
                                <td>{{ entity.ncarnet }}</td>
                                <td>{{ entity.rol }}</td>
                                {% if entity.image == '' %}
                                    <td><img src="{{ asset('img/guest_user.png') }}" width="75" height="75" alt="" /></td>
                                {% else %}
                                    <td><img src="{{ asset('img/uploaded/') }}{{entity.image|replace({'/tmp/':''})}}" width="75" height="75" alt="" /></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    {#
                </div>
                #}
            </tbody>
        </table>
        {#
        <ul>
            <li>
            <a href="{{ path('menu_new') }}">
                Create a new entry
            </a>
            -->
            <br />
            <div class="navigation">
                {{ pagination.render()|raw }}
            </div>
            <br />
            {% if is_granted("ROLE_USER") %}
            <a href="{{ app.request.uriForPath('/#!/menu/new') }}">
                Create a new entry
            </a>
            {% endif %}
            </li>
        </ul>
        #}
        {% if pagination|length != 0 %}
        <div class="navigation">
            {{pagination.render()|replace({'menu': '#!/menu', 'searchafact': 'facturar'})|raw}}
        </div>
        {% endif %}
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>

</div> <!-- /col-text -->
