{#
<?php include_partial('job/list', array('jobs' => $jobs)) ?>
#}

{#
{% include 'INCESComedorBundle:Menu:index.html.twig' with {pagination: pagination} %}
#}

<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <div id="filter">
        <div class="search">
            <form action="{{ app.request.uriForPath('/menu/search') }}" method="get">
                <input autocomplete="off" type="text" name="query" value="{{query}}" id="search_keywords" />
                <input type="submit" value="search" style="display:none;"/>
                <img id="loader" src="{{ asset('img/loader.gif') }}" style="vertical-align: middle; display: none" />
                <div class="help">
                    Enter some keywords (city, country, position, ...)
                </div>
            </form>
        </div>
        <h1>Menu list _index</h1>
        <table class="records_list">
            <thead>
                <tr>
                    {% if field is defined %}
                    {% if attr is defined %}
                    {% if field == "seco" and attr == "1" %}
                    <th><a class="filter" value="seco" asc="{{attr}}" href="{{ path('menu_search') }}">Seco /\</a></th>
                    {% elseif field == "seco" and attr == "0" %}
                    <th><a class="filter" value="seco" asc="{{attr}}" href="{{ path('menu_search') }}">Seco \/</a></th>
                    {% else %}
                    <th><a class="filter" value="seco" asc="1" href="{{ path('menu_search') }}">Seco</a></th>
                    {% endif %}
                    {% if field == "sopa" and attr == "1" %}
                    <th><a class="filter" value="sopa" asc="{{attr}}" href="{{ path('menu_search') }}">Sopa /\</a></th>
                    {% elseif field == "sopa" and attr == "0" %}
                    <th><a class="filter" value="sopa" asc="{{attr}}" href="{{ path('menu_search') }}">Sopa \/</a></th>
                    {% else %}
                    <th><a class="filter" value="sopa" asc="1" href="{{ path('menu_search') }}">Sopa</a></th>
                    {% endif %}
                    {% if field == "salado" and attr == "1" %}
                    <th><a class="filter" value="salado"  asc="{{attr}}" href="{{ path('menu_search') }}">Salado /\</a></th>
                    {% elseif field == "salado" and attr == "0" %}
                    <th><a class="filter" value="salado"  asc="{{attr}}" href="{{ path('menu_search') }}">Salado \/</a></th>
                    {% else %}
                    <th><a class="filter" value="salado"  asc="1" href="{{ path('menu_search') }}">Salado</a></th>
                    {% endif %}
                    {% if field == "jugo" and attr == "1" %}
                    <th><a class="filter" value="jugo"  asc="{{attr}}" href="{{ path('menu_search') }}">Jugo /\</a></th>
                    {% elseif field == "jugo" and attr == "0" %}
                    <th><a class="filter" value="jugo"  asc="{{attr}}" href="{{ path('menu_search') }}">Jugo \/</a></th>
                    {% else %}
                    <th><a class="filter" value="jugo"  asc="1" href="{{ path('menu_search') }}">Jugo</a></th>
                    {% endif %}
                    {% if field == "ensalada" and attr == "1" %}
                    <th><a class="filter" value="ensalada"  asc="{{attr}}" href="{{ path('menu_search') }}">Ensalada /\</a></th>
                    {% elseif field == "ensalada" and attr == "0" %}
                    <th><a class="filter" value="ensalada"  asc="{{attr}}" href="{{ path('menu_search') }}">Ensalada \/</a></th>
                    {% else %}
                    <th><a class="filter" value="ensalada"  asc="1" href="{{ path('menu_search') }}">Ensalada</a></th>
                    {% endif %}
                    {% if field == "postre" and attr == "1" %}
                    <th><a class="filter" value="postre"  asc="{{attr}}" href="{{ path('menu_search') }}">Postre /\</a></th>
                    {% elseif field == "postre" and attr == "0" %}
                    <th><a class="filter" value="postre"  asc="{{attr}}" href="{{ path('menu_search') }}">Postre \/</a></th>
                    {% else %}
                    <th><a class="filter" value="postre"  asc="1" href="{{ path('menu_search') }}">Postre</a></th>
                    {% endif %}
                    {% if field == "dia" and attr == "1" %}
                    <th><a class="filter" value="dia"  asc="{{attr}}" href="{{ path('menu_search') }}">Dia /\</a></th>
                    {% elseif field == "dia" and attr == "0" %}
                    <th><a class="filter" value="dia"  asc="{{attr}}" href="{{ path('menu_search') }}">Dia \/</a></th>
                    {% else %}
                    <th><a class="filter" value="dia"  asc="1" href="{{ path('menu_search') }}">Dia</a></th>
                    {% endif %}
                    {% else %}
                    <th><a class="filter" value="seco"     asc="1" href="{{ path('menu_search') }}">Seco</a></th>
                    <th><a class="filter" value="sopa"     asc="1" href="{{ path('menu_search') }}">Sopa</a></th>
                    <th><a class="filter" value="salado"   asc="1" href="{{ path('menu_search') }}">Salado</a></th>
                    <th><a class="filter" value="jugo"     asc="1" href="{{ path('menu_search') }}">Jugo</a></th>
                    <th><a class="filter" value="ensalada" asc="1" href="{{ path('menu_search') }}">Ensalada</a></th>
                    <th><a class="filter" value="postre"   asc="1" href="{{ path('menu_search') }}">Postre</a></th>
                    <th><a class="filter" value="dia"      asc="1" href="{{ path('menu_search') }}">Dia</a></th>
                    {% endif %}
                    {% else %}
                    <th><a class="filter" value="seco"     asc="1" href="{{ path('menu_search') }}">Seco</a></th>
                    <th><a class="filter" value="sopa"     asc="1" href="{{ path('menu_search') }}">Sopa</a></th>
                    <th><a class="filter" value="salado"   asc="1" href="{{ path('menu_search') }}">Salado</a></th>
                    <th><a class="filter" value="jugo"     asc="1" href="{{ path('menu_search') }}">Jugo</a></th>
                    <th><a class="filter" value="ensalada" asc="1" href="{{ path('menu_search') }}">Ensalada</a></th>
                    <th><a class="filter" value="postre"   asc="1" href="{{ path('menu_search') }}">Postre</a></th>
                    <th><a class="filter" value="dia"      asc="1" href="{{ path('menu_search') }}">Dia</a></th>
                    {% endif %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if pagination|length == 0 %}
                <p>No hay resultados</p>
                {% endif %}
                {% for entity in pagination %}
                <tr>
                    <td>{{ entity.seco }}</td>
                    <td>{{ entity.sopa }}</td>
                    <td>{{ entity.salado }}</td>
                    <td>{{ entity.jugo }}</td>
                    <td>{{ entity.ensalada }}</td>
                    <td>{{ entity.postre }}</td>
                    <td>{% if entity.dia %}{{ entity.dia|date('d/m/Y') }}{% endif%}</td>
                    <td>
                        <ul>
                            <li>
                            {#
                            <a href="{{ path('menu_show', { 'id': entity.id }) }}">show</a>
                            #}
                            <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/show">show2</a>
                            </li>
                            {% if is_granted("ROLE_USER") %}
                            <li>
                            <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/edit">edit2</a>
                            </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {#
        <ul>
            <li>
            <a href="{{ path('menu_new') }}">
                Create a new entry
            </a>
            -->
            <br />
            <div class="navigation">
                {{ pagination.render()|raw }}
            </div>
            <br />
            {% if is_granted("ROLE_USER") %}
            <a href="{{ app.request.uriForPath('/#!/menu/new') }}">
                Create a new entry
            </a>
            {% endif %}
            </li>
        </ul>
        #}
        {#
        <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
        #}
        {% if pagination|length != 0 %}
        <div class="navigation">
            {{pagination.render()|replace({'menu': '#!/menu'})|raw}}
        </div>
        {% endif %}

        {#
        <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
        #}
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
    </div>
    <p id="btns">
    <a href="#"><img src="{{ asset('design/btn-tell.gif') }}" alt="" /></a>
    <a href="#"><img src="{{ asset('design/btn-purchase.gif') }}" alt="" /></a>
    </p>

</div> <!-- /col-text -->
