{#
<?php include_partial('job/list', array('jobs' => $jobs)) ?>
#}

{#
{% include 'INCESComedorBundle:Usuario:index.html.twig' with {pagination: pagination} %}
#}

<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <div id="filter">
        <div class="search">
            <form action="{{ app.request.uriForPath('/menu/searchafact') }}" method="get">
                <input autocomplete="off" type="text" name="query" value="{{query}}" id="search_keywords" />
                <input type="submit" value="search" style="display:none;"/>
                <img id="loader" src="{{ asset('img/loader.gif') }}" style="vertical-align: middle; display: none" />
                <div class="help">
                    Enter some keywords (city, country, position, ...)
                </div>
            </form>
        </div>
        <h1>Usuario list _list Facturar Hola</h1>

        <table class="records_list">
            <thead>
                <tr>
                    <th>Accede</th>
                    {% if field is defined %}
                    {% if attr is defined %}
                    {% if field == "cedula" and attr == "1" %}
                    <th><a class="filter" value="cedula" asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Cédula /\</a></th>
                    {% elseif field == "cedula" and attr == "0" %}
                    <th><a class="filter" value="cedula" asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Cédula \/</a></th>
                    {% else %}
                    <th><a class="filter" value="cedula" asc="1" href="{{ path('menu_search_ajax_facturar') }}">Cédula</a></th>
                    {% endif %}
                    {% if field == "nombre" and attr == "1" %}
                    <th><a class="filter" value="nombre" asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Nombre /\</a></th>
                    {% elseif field == "nombre" and attr == "0" %}
                    <th><a class="filter" value="nombre" asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Nombre \/</a></th>
                    {% else %}
                    <th><a class="filter" value="nombre" asc="1" href="{{ path('menu_search_ajax_facturar') }}">Nombre</a></th>
                    {% endif %}
                    {% if field == "apellido" and attr == "1" %}
                    <th><a class="filter" value="apellido"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Apellido /\</a></th>
                    {% elseif field == "apellido" and attr == "0" %}
                    <th><a class="filter" value="apellido"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Apellido \/</a></th>
                    {% else %}
                    <th><a class="filter" value="apellido"  asc="1" href="{{ path('menu_search_ajax_facturar') }}">Apellido</a></th>
                    {% endif %}
                    {% if field == "ncarnet" and attr == "1" %}
                    <th><a class="filter" value="ncarnet"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Número Carnet /\</a></th>
                    {% elseif field == "ncarnet" and attr == "0" %}
                    <th><a class="filter" value="ncarnet"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Número Carnet \/</a></th>
                    {% else %}
                    <th><a class="filter" value="ncarnet"  asc="1" href="{{ path('menu_search_ajax_facturar') }}">Número Carnet</a></th>
                    {% endif %}
                    {% if field == "rol" and attr == "1" %}
                    <th><a class="filter" value="rol"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Rol /\</a></th>
                    {% elseif field == "rol" and attr == "0" %}
                    <th><a class="filter" value="rol"  asc="{{attr}}" href="{{ path('menu_search_ajax_facturar') }}">Rol \/</a></th>
                    {% else %}
                    <th><a class="filter" value="rol"  asc="1" href="{{ path('menu_search_ajax_facturar') }}">Rol</a></th>
                    {% endif %}
                    {% else %}
                    <th><a class="filter" value="cedula"     asc="1" href="{{ path('menu_search_ajax_facturar') }}">Cédula</a></th>
                    <th><a class="filter" value="nombre"     asc="1" href="{{ path('menu_search_ajax_facturar') }}">Nombre</a></th>
                    <th><a class="filter" value="apellido"   asc="1" href="{{ path('menu_search_ajax_facturar') }}">Apellido</a></th>
                    <th><a class="filter" value="ncarnet"    asc="1" href="{{ path('menu_search_ajax_facturar') }}">Número Carnet</a></th>
                    <th><a class="filter" value="rol"     asc="1" href="{{ path('menu_search_ajax_facturar') }}">Rol</a></th>
                    {% endif %}
                    {% else %}
                    <th><a class="filter" value="cedula"     asc="1" href="{{ path('menu_search_ajax_facturar') }}">Cédula</a></th>
                    <th><a class="filter" value="nombre"     asc="1" href="{{ path('menu_search_ajax_facturar') }}">Nombre</a></th>
                    <th><a class="filter" value="apellido"   asc="1" href="{{ path('menu_search_ajax_facturar') }}">Apellido</a></th>
                    <th><a class="filter" value="ncarnet"    asc="1" href="{{ path('menu_search_ajax_facturar') }}">Número Carnet</a></th>
                    <th><a class="filter" value="rol"        asc="1" href="{{ path('menu_search_ajax_facturar') }}">Rol</a></th>
                    {% endif %}
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>

                {% if pagination|length == 0 %}
                <p>No hay resultados</p>
                {% endif %}
                {#
                <div id="usuarios">
                    {{pagination}}
                    #}
                    <div id="dialog" title="No se puede procesar">
                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
                    </div>
                    {% for entity in pagination %}
                    <tr>
                        {% set hour = "now"|date("H") %}
                        {% if entity.rol.horaComerStartAMPM == "pm" and entity.rol.horaComerEndAMPM == "pm" %}
                            {% set hourStart = entity.rol.horaComerStart + 12 %}
                            {% set hourEnd = entity.rol.horaComerEnd + 12 %}
                        {% elseif entity.rol.horaComerStartAMPM == "pm" and entity.rol.horaComerEndAMPM == "am" %}
                            {% set hourStart = entity.rol.horaComerStart + 12 %}
                            {% set hourEnd = entity.rol.horaComerEnd %}
                        {% elseif entity.rol.horaComerStartAMPM == "am" and entity.rol.horaComerEndAMPM == "pm" %}
                            {% set hourStart = entity.rol.horaComerStart %}
                            {% set hourEnd = entity.rol.horaComerEnd + 12 %}
                        {% else %}
                            {% set hourStart = entity.rol.horaComerStart %}
                            {% set hourEnd = entity.rol.horaComerEnd %}
                        {% endif %}
                        {% set _lncTd = false %}
                        {% for lncTd in userLncTd %}
                            {% if lncTd.usuario.id == entity.id %}
                                {% set _lncTd = true %}
                            {% endif %}
                        {% endfor %}
                        {% if hour >= hourStart and hour <= hourEnd and not _lncTd %}
                        <td><a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/showfacturar">Sí :)</a></td>
                        {% else %}
                        <td><a class="opener" href="" value="{{ app.request.uriForPath('/menu/') }}{{ entity.id }}/showfacturar">No! :(</a></td>
                        {% endif %}
                        <td>{{ entity.cedula }}</td>
                        <td>{{ entity.nombre }}</td>
                        <td>{{ entity.apellido }}</td>
                        <td>{{ entity.ncarnet }}</td>
                        <td>{{ entity.rol }}</td>
                        <td>{{ entity.image }}</td>
                        {#
                        <td>
                            <ul>
                                <li>
                                <a href="{{ path('menu_show', { 'id': entity.id }) }}">show</a>

                                <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/show">show2</a>
                                </li>
                                {% if is_granted("ROLE_USER") %}
                                <li>
                                <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/edit">edit2</a>
                                </li>
                                {% endif %}
                            </ul>
                        </td>
                        #}
                    </tr>
                    {% endfor %}
                    {#
                </div>
                #}
            </tbody>
        </table>
        {#
        <ul>

            <li>

            <a href="{{ path('menu_new') }}">
                Create a new entry
            </a>
            -->
            <br />

            <div class="navigation">
                {{ pagination.render()|raw }}
            </div>


            <br />
            {% if is_granted("ROLE_USER") %}
            <a href="{{ app.request.uriForPath('/#!/menu/new') }}">
                Create a new entry
            </a>
            {% endif %}

            </li>

        </ul>
        #}
        {% if pagination|length != 0 %}
        <div class="navigation">
            {{pagination.render()|replace({'menu': '#!/menu', 'searchafact': 'facturar'})|raw}}
        </div>
        {% endif %}

        {#
        <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.ui.core.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.ui.widget.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.ui.datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.ui.datepicker-es.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/common.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/menu.js') }}"></script>
        #}
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
    </div>

    <p id="btns">
    <a href="#"><img src="{{ asset('design/btn-tell.gif') }}" alt="" /></a>
    <a href="#"><img src="{{ asset('design/btn-purchase.gif') }}" alt="" /></a>
    </p>

</div> <!-- /col-text -->
