<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <h1>Menu Modificar Today</h1>

    <form class="menu_today_form" action="{{ app.request.uriForPath('/menu/') }}{{ entity.id }}/updatetoday" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
        <button type="submit">Modificar</button>
        </p>
    </form>

    {#
    <form action="{{ app.request.uriForPath('/menu/') }}{{ entity.id }}/deletetoday" method="post">
        {{ form_widget(delete_form) }}
        <button class="delete_form_btn" type="submit">Borrar</button>
    </form>
    #}


    <ul class="record_actions">
        <li>
        <a href="{{ app.request.uriForPath('/#!/menu/today') }}">
            Back to the list
        </a>
        </li>
    </ul>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>


