
<div id="col-text">

    <h1>Menu Modificar del Día</h1>

    <form class="menu_today_form generic" action="{{ app.request.uriForPath('/menu/') }}{{ entity.id }}/updatetoday" method="post" {{ form_enctype(edit_form) }}>
        {#
        {{ form_widget(edit_form) }}
        #}
        {{ form_row(edit_form._token) }}

        <div id="menu-seco-block" class="field">
            <label for="seco">Seco</label>
            {{ form_widget(edit_form.seco,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-sopa-block" class="field">
            <label for="sopa">Sopa</label>
            {{ form_widget(edit_form.sopa,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-salado-block" class="field">
            <label for="salado">Salado</label>
            {{ form_widget(edit_form.salado,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-jugo-block" class="field">
            <label for="jugo">Jugo</label>
            {{ form_widget(edit_form.jugo,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-ensalada-block" class="field">
            <label for="ensalada">Ensalada</label>
            {{ form_widget(edit_form.ensalada,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-postre-block" class="field">
            <label for="postre">Postre</label>
            {{ form_widget(edit_form.postre,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-dia-block" class="field">
            <label for="">Día</label>
            {{ form_widget(edit_form.dia,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div class="action">
            <input id="login-submit" class="submit-button" type="submit" value="Modificar" />
        </div>
    </form>

    <br />
    <a href="{{ app.request.uriForPath('/#!/menu/today') }}"><img src="{{ asset('img/back.ico') }}" height="40" width="40" /></a>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>


