{# src/INCES/ComedorBundle/Resources/views/Menu/edit.html.twig #}
{#
{% extends '::base.html.twig' %}

{% block body %}
#}

<h1>Menu Modificar</h1>


<form action="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/update" method="post" {{ form_enctype(edit_form) }}>
	{{ form_widget(edit_form) }}
	<p>
	<button type="submit">Modificar</button>
	</p>
</form>

<form action="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/delete" method="post">
	{{ form_widget(delete_form) }}
	<button type="submit">Borrar</button>
</form>


<ul class="record_actions">
    <li>
        <a href="{{ app.request.uriForPath('/#!/menu') }}">
            Back to the list
        </a>
    </li>
</ul>


{#
{% endblock %}
#}
