<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h1>Agregar Menu</h1>
    <form class="menu_form generic" action="{{ app.request.uriForPath('/menu/create') }}" method="post" {{ form_enctype(form) }}>
        {#
        {{ form_widget(edit_form) }}
        #}
        {{ form_row(form._token) }}

        <div id="menu-seco-block" class="field">
            <label for="seco">Seco</label>
            {{ form_widget(form.seco,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-sopa-block" class="field">
            <label for="sopa">Sopa</label>
            {{ form_widget(form.sopa,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-salado-block" class="field">
            <label for="salado">Salado</label>
            {{ form_widget(form.salado,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-jugo-block" class="field">
            <label for="jugo">Jugo</label>
            {{ form_widget(form.jugo,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-ensalada-block" class="field">
            <label for="ensalada">Ensalada</label>
            {{ form_widget(form.ensalada,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-postre-block" class="field">
            <label for="postre">Postre</label>
            {{ form_widget(form.postre,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="menu-dia-block" class="field">
            <label for="">Día</label>
            {{ form_widget(form.dia,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div class="action">
            <input id="login-submit" class="submit-button" type="submit" value="Agregar" />
        </div>
    </form>

    <br />
    <a href="{{ app.request.uriForPath('/#!/menu') }}"><img src="{{ asset('img/back.ico') }}" height="40" width="40" /></a>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>

