<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h1>Agregar Menu Today</h1>
    <table>
        <th>
            <form class="menu_today_form" action="{{ app.request.uriForPath('/menu/createtoday') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}

                <p>
                <button type="submit">Agregar</button>
                </p>
            </form>
        </th>
    </table>

    <ul class="record_actions">
        <li>
        <a href="{{ app.request.uriForPath('/#!/menu/today') }}">
            Back to the list
        </a>
        </li>
    </ul>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>

