{# src/INCES/ComedorBundle/Resources/views/Menu/show.html.twig #}
{#
{% extends '::base.html.twig' %}

{% block body %}
#}
<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <h1>Menu Show</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Seco</th>
                <td>{{ entity.seco }}</td>
            </tr>
            <tr>
                <th>Sopa</th>
                <td>{{ entity.sopa }}</td>
            </tr>
            <tr>
                <th>Salado</th>
                <td>{{ entity.salado }}</td>
            </tr>
            <tr>
                <th>Jugo</th>
                <td>{{ entity.jugo }}</td>
            </tr>
            <tr>
                <th>Ensalada</th>
                <td>{{ entity.ensalada }}</td>
            </tr>
            <tr>
                <th>Postre</th>
                <td>{{ entity.postre }}</td>
            </tr>
            <tr>
                <th>Dia</th>
                <td>{{ entity.dia|date('d/m/Y') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
        <a href="{{ app.request.uriForPath('/#!/menu') }}">
            Back to the list
        </a>
        </li>
        <li>
        <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/edit">
            Edit
        </a>
        </li>
        <li>
        <form action="{{ app.request.uriForPath('/menu/') }}{{ entity.id }}/delete" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
        </li>
    </ul>
    {#
    {% endblock %}
    #}
    {#
    <script type="text/javascript" src="{{ asset('js/common.js') }}"></script>
    #}
    <p id="btns">
    <a href="#"><img src="{{ asset('design/btn-tell.gif') }}" alt="" /></a>
    <a href="#"><img src="{{ asset('design/btn-purchase.gif') }}" alt="" /></a>
    </p>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
