<div id="col-browser"><a href="#"><img src="{{ asset('img/uploaded/') }}{{entity.image|replace({'/tmp/':''})}}" width="255" height="350" alt="" /></a></div>

<div id="col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <h1>Usuario Show Factura</h1>

    <table class="bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.cedula }}</td>
            </tr>
            <tr>
                <th>Ncarnet</th>
                <td>{{ entity.ncarnet }}</td>
            </tr>
            {#
            <tr>
                <th>A_i</th>
                <td>{{ entity.ai }}</td>
            </tr>
            #}
            <tr>
                <th>Correo</th>
                <td>{{ entity.correo }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ entity.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
        <form action="{{ app.request.uriForPath('/menu/facturar/procesar') }}" method="post">
            <input type="hidden" id="usuario" name="usuario" value="{{entity.id}}" />
            <table class="records_list">
                <thead>
                    <tr>
                        <th></th>
                        <th>Seco</th>
                        <th>Sopa</th>
                        <th>Salado</th>
                        <th>Jugo</th>
                        <th>Ensalada</th>
                        <th>Postre</th>
                        <th>Día</th>
                    </tr>
                </thead>
                <tbody>
                    {% if menus|length == 0 %}
                    <p>No hay resultados</p>
                    {% endif %}
                    {% for entity in menus %}
                    <tr>
                        <td><input type="radio" name="menus" value="{{entity.id}}" /></td>
                        <td>{{ entity.seco }}</td>
                        <td>{{ entity.sopa }}</td>
                        <td>{{ entity.salado }}</td>
                        <td>{{ entity.jugo }}</td>
                        <td>{{ entity.ensalada }}</td>
                        <td>{{ entity.postre }}</td>
                        <td>{% if entity.dia %}{{ entity.dia|date('d/m/Y') }}{% endif%}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button type="submit">Facturar</button>
        </form>
        {#
        <a href="{{ app.request.uriForPath('/#!/menu/facturar/procesar') }}">
            Facturar
        </a>
        #}
        </li>
        <li>
        <a href="{{ app.request.uriForPath('/#!/menu/facturar') }}">
            Back to the list
        </a>
        </li>
    </ul>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
