
<div id="my-col-text">

    <h1>Mostrar Menu del Día</h1>

    <table class="bordered">
        <tbody>
            <tr>
            <tr class="fix-tsearch">
                <th>Seco</th>
                <td>{{ entity.seco }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Sopa</th>
                <td>{{ entity.sopa }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Salado</th>
                <td>{{ entity.salado }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Jugo</th>
                <td>{{ entity.jugo }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Ensalada</th>
                <td>{{ entity.ensalada }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Postre</th>
                <td>{{ entity.postre }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Día</th>
                <td>{{ entity.dia|date('d/m/Y') }}</td>
            </tr>
        </tbody>
    </table>

    <br />
    <a class="mybutton" href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/edittoday">
        Editar
    </a>
    <br />
    <a href="{{ app.request.uriForPath('/#!/menu/today') }}">
        <button type="submit">Regresar a la lista</button>
    </a>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
