{# src/INCES/ComedorBundle/Resources/views/Menu/show.html.twig #}
{#
{% extends '::base.html.twig' %}

{% block body %}
#}
<h1>Menu</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Seco</th>
            <td>{{ entity.seco }}</td>
        </tr>
        <tr>
            <th>Salado</th>
            <td>{{ entity.salado }}</td>
        </tr>
        <tr>
            <th>Jugo</th>
            <td>{{ entity.jugo }}</td>
        </tr>
        <tr>
            <th>Ensalada</th>
            <td>{{ entity.ensalada }}</td>
        </tr>
        <tr>
            <th>Postre</th>
            <td>{{ entity.postre }}</td>
        </tr>
        <tr>
            <th>Dia</th>
            <td>{{ entity.dia|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ app.request.uriForPath('/#!/menu') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/edit">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('menu_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{#
{% endblock %}
#}
