
<div id="my-col-text">

    <h1>Menu del Día</h1>
    <table class="bordered">
        <thead>
            <tr>
                <th>Seco</th>
                <th>Sopa</th>
                <th>Salado</th>
                <th>Jugo</th>
                <th>Ensalada</th>
                <th>Postre</th>
                <th>Día</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if menusToday|length == 0 %}
            <p>No hay resultados</p>
            {% endif %}
            {% for entity in menusToday %}
            <tr>
                <td>{{ entity.seco }}</td>
                <td>{{ entity.sopa }}</td>
                <td>{{ entity.salado }}</td>
                <td>{{ entity.jugo }}</td>
                <td>{{ entity.ensalada }}</td>
                <td>{{ entity.postre }}</td>
                <td>{% if entity.dia %}{{ entity.dia|date('d/m/Y') }}{% endif%}</td>
                <td>
                    <ul>
                        <li>
                        <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/showtoday">show</a>
                        </li>
                        <li>
                        <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/edittoday">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <a class="mybutton" href="{{ app.request.uriForPath('/#!/menu/newtoday') }}">
        Crear Nuevo
    </a>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
