<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <h1>Usuario Creado Satisfactoriamente</h1>
    {% extends "INCESComedorBundle::layout.html.twig" %}

    {% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if app.session is not empty %}
    {% set targetUrl = app.session.get('_security.target_path') %}
    {% if targetUrl is not empty %}<p><a href="{{ app.request.uriForPath('/#!/admin') }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
    {% endblock fos_user_content %}
    <p id="btns">
    <a href="#"><img src="{{ asset('design/btn-tell.gif') }}" alt="" /></a>
    <a href="#"><img src="{{ asset('design/btn-purchase.gif') }}" alt="" /></a>
    </p>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
