<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h1>Usuarios Administradores</h1>

    <table class="bordered">
        <tbody>
            <tr class="fix-tsearch">
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Cédula</th>
                <td>{{ entity.cedula }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Número Carnet</th>
                <td>{{ entity.ncarnet }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Roles</th>
                {% for val in entity.roles %}
                    {% if loop.first %}
                        <td>{{ entity.roles }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">

        <a href="{{ app.request.uriForPath('/#!/admin/list') }}"><img src="{{ asset('img/back.ico') }}" height="40" width="40" /></a>


        <form class="generic" action="{{ app.request.uriForPath('/admin/') }}{{ entity.id }}/delete" method="post">
            {{ form_widget(delete_form) }}
            {#}
            <button class="delete_form_btn" type="submit">Delete</button>
            #}
            <input id="login-submit" class="submit-button delete_form-btn" type="submit" value="Eliminar" />
        </form>

    </ul>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
