<div id="col-browser">
</div>

<div id="col-text">

    <table>
        <tr class="tsearch">
        <td>
            <h1>Lista de Usuarios</h1>
        </td>
        <td>
            <div id="filter">
                <form class="generic" action="{{ app.request.uriForPath('/usuario/searcha') }}" method="get">
                    <img src="{{ asset('img/search.png') }}" class="searchbox_submit" value="" />
                    <input autocomplete="off" type="text" class="text" name="query" value="{{query}}" id="search_keywords" />
                    <input type="submit" value="search" style="display:none;"/>
                </form>
            </div>
            <td>
            </tr>
        </table>
            <table class="bordered">
                <thead>
                    <tr>
                        {% if field is defined %}
                        {% if attr is defined %}
                        {% if field == "cedula" and attr == "1" %}
                        <th><a class="filter" value="cedula" asc="{{attr}}" href="{{ path('usuario_search_ajax') }}">Cédula /\</a></th>
                        {% elseif field == "cedula" and attr == "0" %}
                        <th><a class="filter" value="cedula" asc="{{attr}}" href="{{ path('usuario_search_ajax') }}">Cédula \/</a></th>
                        {% else %}
                        <th><a class="filter" value="cedula" asc="1" href="{{ path('usuario_search_ajax') }}">Cédula</a></th>
                        {% endif %}
                        {% if field == "nombre" and attr == "1" %}
                        <th><a class="filter" value="nombre" asc="{{attr}}" href="{{ path('usuario_search_ajax') }}">Nombre /\</a></th>
                        {% elseif field == "nombre" and attr == "0" %}
                        <th><a class="filter" value="nombre" asc="{{attr}}" href="{{ path('usuario_search_ajax') }}">Nombre \/</a></th>
                        {% else %}
                        <th><a class="filter" value="nombre" asc="1" href="{{ path('usuario_search_ajax') }}">Nombre</a></th>
                        {% endif %}
                        {% if field == "apellido" and attr == "1" %}
                        <th><a class="filter" value="apellido"  asc="{{attr}}" href="{{ path('usuario_search_ajax') }}">Apellido /\</a></th>
                        {% elseif field == "apellido" and attr == "0" %}
                        <th><a class="filter" value="apellido"  asc="{{attr}}" href="{{ path('usuario_search_ajax') }}">Apellido \/</a></th>
                        {% else %}
                        <th><a class="filter" value="apellido"  asc="1" href="{{ path('usuario_search_ajax') }}">Apellido</a></th>
                        {% endif %}
                        {% if field == "ncarnet" and attr == "1" %}
                        <th><a class="filter" value="ncarnet"  asc="{{attr}}" href="{{ path('usuario_search_ajax') }}">Número Carnet /\</a></th>
                        {% elseif field == "ncarnet" and attr == "0" %}
                        <th><a class="filter" value="ncarnet"  asc="{{attr}}" href="{{ path('usuario_search_ajax') }}">Número Carnet \/</a></th>
                        {% else %}
                        <th><a class="filter" value="ncarnet"  asc="1" href="{{ path('usuario_search_ajax') }}">Número Carnet</a></th>
                        {% endif %}
                        {% if field == "rol" and attr == "1" %}
                        <th><a class="filter" value="rol"  asc="{{attr}}" href="{{ path('usuario_search_ajax') }}">Rol /\</a></th>
                        {% elseif field == "rol" and attr == "0" %}
                        <th><a class="filter" value="rol"  asc="{{attr}}" href="{{ path('usuario_search_ajax') }}">Rol \/</a></th>
                        {% else %}
                        <th><a class="filter" value="rol"  asc="1" href="{{ path('usuario_search_ajax') }}">Rol</a></th>
                        {% endif %}
                        {% else %}
                        <th><a class="filter" value="cedula"     asc="1" href="{{ path('usuario_search_ajax') }}">Cédula</a></th>
                        <th><a class="filter" value="nombre"     asc="1" href="{{ path('usuario_search_ajax') }}">Nombre</a></th>
                        <th><a class="filter" value="apellido"   asc="1" href="{{ path('usuario_search_ajax') }}">Apellido</a></th>
                        <th><a class="filter" value="ncarnet"    asc="1" href="{{ path('usuario_search_ajax') }}">Número Carnet</a></th>
                        <th><a class="filter" value="rol"        asc="1" href="{{ path('usuario_search_ajax') }}">Rol</a></th>
                        {% endif %}
                        {% else %}
                        <th><a class="filter" value="cedula"     asc="1" href="{{ path('usuario_search_ajax') }}">Cédula</a></th>
                        <th><a class="filter" value="nombre"     asc="1" href="{{ path('usuario_search_ajax') }}">Nombre</a></th>
                        <th><a class="filter" value="apellido"   asc="1" href="{{ path('usuario_search_ajax') }}">Apellido</a></th>
                        <th><a class="filter" value="ncarnet"    asc="1" href="{{ path('usuario_search_ajax') }}">Número Carnet</a></th>
                        <th><a class="filter" value="rol"        asc="1" href="{{ path('usuario_search_ajax') }}">Rol</a></th>
                        {% endif %}
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if pagination|length == 0 %}
                    <p>No hay resultados</p>
                    {% endif %}
                    {#
                    <div id="usuarios">
                        #}
                        {% for entity in pagination %}
                        <tr>
                            <td>{{ entity.cedula }}</td>
                            <td>{{ entity.nombre }}</td>
                            <td>{{ entity.apellido }}</td>
                            <td>{{ entity.ncarnet }}</td>
                            <td>{{ entity.rol.nombre }}</td>
                            <td>{{ entity.image }}</td>
                            <td>
                                <a href="{{ app.request.uriForPath('/#!/usuario/') }}{{ entity.id }}/show">Mostrar</a>
                                {% if is_granted("ROLE_ADMIN")  %}
                                <li>
                                <a href="{{ app.request.uriForPath('/#!/usuario/') }}{{ entity.id }}/edit">edit2</a>
                                </li>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {#
                    </div>
                    #}
                </tbody>
            </table>
            {% if is_granted("ROLE_USER") %}
            <a href="{{ app.request.uriForPath('/#!/usuario/new') }}">
                Create a new entry
            </a>
            {% endif %}
            {#
            <ul>
                <li>
                <a href="{{ path('menu_new') }}">
                    Create a new entry
                </a>
                -->
                <br />
                <div class="navigation">
                    {{ pagination.render()|raw }}
                </div>
                <br />
                {% if is_granted("ROLE_USER") %}
                <a href="{{ app.request.uriForPath('/#!/menu/new') }}">
                    Create a new entry
                </a>
                {% endif %}
                </li>
            </ul>
            #}
            {% if pagination|length != 0 %}
            <div class="navigation">
                {{pagination.render()|replace({'usuario': '#!/usuario'})|raw}}
            </div>
            {% endif %}
            <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>

        </div> <!-- /col-text -->
