
<div id="my-col-text">

    <table>
        <tr class="tsearch">
            <td>
                <h1>Lista Usuarios que Comieron hoy</h1>
            </td>
            <td>
                <div id="filter">
                    <form class="generic" action="{{ app.request.uriForPath('/usuario/searchalnc') }}" method="get">
                        <img src="{{ asset('img/search.png') }}" class="searchbox_submit" value="" />
                        <input autocomplete="off" type="text" class="text" name="query" value="{{query}}" id="search_keywords" />
                        <input type="submit" value="search" style="display:none;"/>
                    </form>
                </div>
            <td>
        </tr>
    </table>
        <table class="bordered">
            <thead>
                <tr>
                    {% if field is defined %}
                    {% if attr is defined %}
                    {% if field == "dia" and attr == "1" %}
                    <th><a class="filter" value="dia" asc="{{attr}}" href="{{ path('usuario_search_ajax_lunch') }}">Fecha /\</a></th>
                    {% elseif field == "dia" and attr == "0" %}
                    <th><a class="filter" value="dia" asc="{{attr}}" href="{{ path('usuario_search_ajax_lunch') }}">Fecha \/</a></th>
                    {% else %}
                    <th><a class="filter" value="dia" asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Fecha</a></th>
                    {% endif %}
                    {% if field == "cedula" and attr == "1" %}
                    <th><a class="filter" value="cedula" asc="{{attr}}" href="{{ path('usuario_search_ajax_lunch') }}">Cédula /\</a></th>
                    {% elseif field == "cedula" and attr == "0" %}
                    <th><a class="filter" value="cedula" asc="{{attr}}" href="{{ path('usuario_search_ajax_lunch') }}">Cédula \/</a></th>
                    {% else %}
                    <th><a class="filter" value="cedula" asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Cédula</a></th>
                    {% endif %}
                    {% if field == "nombre" and attr == "1" %}
                    <th><a class="filter" value="nombre" asc="{{attr}}" href="{{ path('usuario_search_ajax_lunch') }}">Nombre /\</a></th>
                    {% elseif field == "nombre" and attr == "0" %}
                    <th><a class="filter" value="nombre" asc="{{attr}}" href="{{ path('usuario_search_ajax_lunch') }}">Nombre \/</a></th>
                    {% else %}
                    <th><a class="filter" value="nombre" asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Nombre</a></th>
                    {% endif %}
                    {% if field == "apellido" and attr == "1" %}
                    <th><a class="filter" value="apellido"  asc="{{attr}}" href="{{ path('usuario_search_ajax_lunch') }}">Apellido /\</a></th>
                    {% elseif field == "apellido" and attr == "0" %}
                    <th><a class="filter" value="apellido"  asc="{{attr}}" href="{{ path('usuario_search_ajax_lunch') }}">Apellido \/</a></th>
                    {% else %}
                    <th><a class="filter" value="apellido"  asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Apellido</a></th>
                    {% endif %}
                    {% else %}
                    <th><a class="filter" value="dia"        asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Fecha</a></th>
                    <th><a class="filter" value="cedula"     asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Cédula</a></th>
                    <th><a class="filter" value="nombre"     asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Nombre</a></th>
                    <th><a class="filter" value="apellido"   asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Apellido</a></th>
                    {% endif %}
                    {% else %}
                    <th><a class="filter" value="dia"        asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Fecha</a></th>
                    <th><a class="filter" value="cedula"     asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Cédula</a></th>
                    <th><a class="filter" value="nombre"     asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Nombre</a></th>
                    <th><a class="filter" value="apellido"   asc="1" href="{{ path('usuario_search_ajax_lunch') }}">Apellido</a></th>
                    {% endif %}
                    <th>Menu</th>
                </tr>
            </thead>
            <tbody>
                {% if pagination|length == 0 %}
                <p>No hay resultados</p>
                {% endif %}
                {#
                <div id="usuarios">
                    #}
                    <div id="dialog" title="No se puede procesar">
                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
                    </div>
                    {% for entity in pagination %}
                    <tr class="tsearch">
                        <td>{{ entity.dia|date("d-m-Y H:i:s") }}</td>
                        <td>{{ entity.usuario.cedula }}</td>
                        <td>{{ entity.usuario.nombre }}</td>
                        <td>{{ entity.usuario.apellido }}</td>
                        {% if entity.menu == "" %}
                            <td>No hay información disponible.</td>
                        {% else %}
                            <td>{{entity.menu}}</td>
                        {% endif %}
                        {#
                        <td>
                            <ul>
                                <li>
                                <a href="{{ path('menu_show', { 'id': entity.id }) }}">show</a>

                                <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/show">show2</a>
                                </li>
                                {% if is_granted("ROLE_USER") %}
                                <li>
                                <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/edit">edit2</a>
                                </li>
                                {% endif %}
                            </ul>
                        </td>
                        #}
                    </tr>
                    {% endfor %}
                    {#
                </div>
                #}
            </tbody>
        </table>
        {#
        <ul>
            <li>
            <a href="{{ path('menu_new') }}">
                Create a new entry
            </a>
            -->
            <br />
            <div class="navigation">
                {{ pagination.render()|raw }}
            </div>
            <br />
            {% if is_granted("ROLE_USER") %}
            <a href="{{ app.request.uriForPath('/#!/menu/new') }}">
                Create a new entry
            </a>
            {% endif %}
            </li>
        </ul>
        #}
        {% if pagination|length != 0 %}
        <div class="navigation">
            {{pagination.render()|replace({'usuario': '#!/usuario', 'searchafact': 'facturar'})|raw}}
        </div>
        {% endif %}
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>

</div> <!-- /col-text -->
