<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <h1>Usuario list Seach_Show</h1>

    <div class="search">
        <form action="{{ app.request.uriForPath('/usuario/search') }}" method="post">
            <input autocomplete="off" type="text" name="query" value="{{query}}" id="search_keywords" />
            {#
            <input type="submit" value="search" />
            <img id="loader" src="{{ asset('img/loader.gif') }}" style="vertical-align: middle; display: none" />
            #}
            <div class="help">
                Enter some keywords (city, country, position, ...)
            </div>
        </form>
    </div>
    {# Datos del usuario #}
    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Ncarnet</th>
                {#
                <th>A_i</th>
                #}
                <th>Correo</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if usuariomenu|length != 0 %}
                    <td>{{ usuariomenu.0.usuario.nombre }}</td>
                    <td>{{ usuariomenu.0.usuario.apellido }}</td>
                    <td>{{ usuariomenu.0.usuario.cedula }}</td>
                    <td>{{ usuariomenu.0.usuario.ncarnet }}</td>
                    {#
                    <td>{{ entity.ai }}</td>
                    #}
                    <td>{{ usuariomenu.0.usuario.correo }}</td>
                    <td>{{ usuariomenu.0.usuario.image }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    {# Datos de menus #}
    <table class="records_list">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
            {% if usuariomenu|length == 0 %}
                <td>No hay información disponible.</td>
            {% else %}
                {% for entity in usuariomenu %}
                    <tr>
                        {% set hora = entity.dia|date("H") %}
                        {% set ampm = "am" %}
                        {% if hora > 12 %}
                            {% set hora = hora - 12 %}
                            {% set ampm = "pm" %}
                        {% endif %}
                        <td>{{ entity.dia|date("d/m/Y") }} {{ hora }}{{ entity.dia|date(":i:s") }} {{ ampm }}</td>
                        {% if entity.menu == "" %}
                            <td>No hay información disponible.</td>
                        {% else %}
                            <td>{{entity.menu}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <p id="btns">
    <a href="#"><img src="{{ asset('design/btn-tell.gif') }}" alt="" /></a>
    <a href="#"><img src="{{ asset('design/btn-purchase.gif') }}" alt="" /></a>
    </p>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
