
<div id="my-col-text">

    <table>
        <tr class="tsearch">
            <td>
                <h1>Usuario</h1>
            </td>
            <td>
                <div id="filter">
                    <form class="generic" action="{{ app.request.uriForPath('/usuario/search') }}" method="get">
                        <img src="{{ asset('img/search.png') }}" class="searchbox_submit" value="" />
                        <input autocomplete="off" type="text" class="text" name="query" value="{{query}}" id="search_keywords" />
                        <input type="submit" value="search" style="display:none;"/>
                    </form>
                </div>
            <td>
        </tr>
    </table>
    {# Datos del usuario #}
    <table class="bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Ncarnet</th>
                {#
                <th>A_i</th>
                #}
                <th>Correo</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr  class="tsearch">
                {% if usuariomenu|length != 0 %}
                    <td>{{ usuariomenu.0.usuario.nombre }}</td>
                    <td>{{ usuariomenu.0.usuario.apellido }}</td>
                    <td>{{ usuariomenu.0.usuario.cedula }}</td>
                    <td>{{ usuariomenu.0.usuario.ncarnet }}</td>
                    {#
                    <td>{{ entity.ai }}</td>
                    #}
                    <td>{{ usuariomenu.0.usuario.correo }}</td>
                    <td>{{ usuariomenu.0.usuario.image }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    {# Datos de menus #}
    <table class="bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
            {% if usuariomenu|length == 0 %}
                <td>No hay información disponible.</td>
            {% else %}
                {% for entity in usuariomenu %}
                    <tr>
                        {% set hora = entity.dia|date("H") %}
                        {% set ampm = "am" %}
                        {% if hora > 12 %}
                            {% set hora = hora - 12 %}
                            {% set ampm = "pm" %}
                        {% endif %}
                        <td>{{ entity.dia|date("d/m/Y") }} {{ hora }}{{ entity.dia|date(":i:s") }} {{ ampm }}</td>
                        {% if entity.menu == "" %}
                            <td>No hay información disponible.</td>
                        {% else %}
                            <td>{{entity.menu}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
