<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <h1>Editar Masivo de Usuario </h1>

    <div id="messages"></div>
    <form class="carga_masiva_form" action="{{ app.request.uriForPath('/usuario/editmasivo') }}" method="post" {{ form_enctype(cm_form) }}>
        {#
        {{ form_widget(cm_form.file) }}
        #}
        {{ form_widget(cm_form) }}
        <br />
        <button class="carga_masiva_form_btn" type="submit">Editar</button>
    </form>

</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
