<h1>Usuario edit</h1>

<form action="{{ app.request.uriForPath('/usuario/') }}{{ entity.id }}/update" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Modificar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ app.request.uriForPath('/#!/usuario/') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ app.request.uriForPath('/usuario/') }}{{ entity.id }}/delete" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
