<h1>Usuario list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Ncarnet</th>
            <th>A_i</th>
            <th>Correo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellido }}</td>
            {#
            <td>{{ entity.cedula }}</td>
            #}
            <td>{{ entity.ncarnet }}</td>
            <td>{{ entity.ai }}</td>
            <td>{{ entity.correo }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('usuario_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
