<h1>Agregar Usuario</h1>
<table>
	<th>
    <form action="{{ app.request.uriForPath('/#!/usuario/') }}{{ entity.id }}/create" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Agregar</button>
        </p>
    </form>
	</th>
</table>
<ul class="record_actions">
    <li>
        <a href="{{ app.request.uriForPath('/#!/usuario') }}">
            Regresar a la Lista
        </a>
    </li>
</ul>
