
<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h1>Agregar Usuario Externo</h1>
    <form class="usuario_externo_form generic" action="{{ app.request.uriForPath('/usuario/createexterno') }}" method="post" {{ form_enctype(form) }}>
        {#
        {{ form_widget(form) }}
        Upload image <input type="file" name="photoimg" id="photoimg" />
        #}
        {#
        <p>
        <button type="submit">Agregar</button>
        </p>
        #}
        {{ form_row(form._token) }}

        <div id="usuario-externo-nombre-block" class="field">
            <label for="nombre">Nombre</label>
            {{ form_widget(form.nombre,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="usuario-externo-apellido-block" class="field">
            <label for="apellido">Apellido</label>
            {{ form_widget(form.apellido,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="usuario-externo-cedula-block" class="field">
            <label for="cedula">Cédula</label>
            {{ form_widget(form.cedula,  { 'attr': {'class': 'text'}}) }}
        </div>
        {#
        <div id="usuario-ncarnet-block" class="field">
            <label for="ncarnet">Número de Carnet</label>
            {{ form_widget(form.ncarnet,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="usuario-correo-block" class="field">
            <label for="correo">Correo</label>
            {{ form_widget(form.correo,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div id="usuario-image-block" class="field">
            <label for="image">Imagen</label>
            {{ form_widget(form.image,  { 'attr': {'class': 'text'}}) }}
        </div>
        #}
        <div id="usuario-roles-block" class="field">
            <label for="rol">Roles</label>
            {{ form_widget(form.rol,  { 'attr': {'class': 'text'}}) }}
        </div>
        <div class="action">
            <input id="login-submit" class="submit-button" type="submit" value="Modificar" />
        </div>
    </form>
    <ul class="record_actions">
        <li>
        <a href="{{ app.request.uriForPath('/#!/menu/facturar') }}">
            Regresar a la Lista
        </a>
        </li>
    </ul>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
