
<div id="col-browser"><a href="#"><img src="{{ asset('img/uploaded/') }}{{entity.image|replace({'/tmp/':''})}}" width="255" height="350" alt="" /></a></div>
<div id="col-text">

    <h1>Mostrar Usuario </h1>

    <table class="bordered">
        <tbody>
            <tr class="fix-tsearch">
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Cédula</th>
                <td>{{ entity.cedula }}</td>
            </tr>
            <tr class="fix-tsearch">
                <th>Número de Carnet</th>
                <td>{{ entity.ncarnet }}</td>
            </tr>
            {#
            <tr>
                <th>A_i</th>
                <td>{{ entity.ai }}</td>
            </tr>
            #}
            <tr class="fix-tsearch">
                <th>Correo</th>
                <td>{{ entity.correo }}</td>
            </tr>
            {#
            <tr>
                <th>Imagen</th>
                <td>{{ entity.image }}</td>
            </tr>
            #}
        </tbody>
    </table>

    <ul class="record_actions">
        <a class="mybutton" href="{{ app.request.uriForPath('/#!/usuario/') }}{{ entity.id }}/edit">Editar</a>
        <form class="generic" action="{{ app.request.uriForPath('/usuario/') }}{{ entity.id }}/delete" method="post">
            {{ form_widget(delete_form) }}
            <div class="action">
                <input id="login-submit" class="submit-button" type="submit" value="Eliminar" />
            </div>
        </form>
        <a href="{{ app.request.uriForPath('/#!/usuario/') }}"><img src="{{ asset('img/back.ico') }}" height="40" width="40" /></a>
    </ul>
</div> <!-- /col-text -->
