<h1>Usuario Show</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{ entity.apellido }}</td>
        </tr>
        <tr>
            <th>Cedula</th>
            <td>{{ entity.cedula }}</td>
        </tr>
        <tr>
            <th>Ncarnet</th>
            <td>{{ entity.ncarnet }}</td>
        </tr>
        {#
        <tr>
            <th>A_i</th>
            <td>{{ entity.ai }}</td>
        </tr>
        #}
        <tr>
            <th>Correo</th>
            <td>{{ entity.correo }}</td>
        </tr>
        <tr>
            <th>Imagen</th>
            <td>{{ entity.image }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ app.request.uriForPath('/#!/usuario/') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ app.request.uriForPath('/#!/usuario/') }}{{ entity.id }}/edit">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ app.request.uriForPath('/usuario/') }}{{ entity.id }}/delete" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
