<p>
{% if from == "" or to == "" %}
    Cantidad de personas totales es <b>{{cantidadTotal}}</b>
{% else %}
    Cantidad de personas desde <b>{{from|date('d/m/Y')}}</b> al <b>{{to|date('d/m/Y')}}</b> es <b>{{cantidadTotal}}</b>
{% endif %}
<br />
Monto ganado: <b>{{montoTotal}}</b>
</p>
{# Totales #}
<table style="border:1px solid black;">
    <thead>
        <tr>
            <th>Rol</th>
            <th>Cantidad</th>
            <th>Monto(Bs)</th>
        </tr>
    </thead>
    <tbody>
        {% for key, len in totals %}
            {% if len.0 > 0 %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ len.0 }}</td>
                    <td>{{ len.1 }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{# Get users by role #}
{% for key, len in totals %}
    {% if len.0 > 0 %}
        <p>{{ key }}</p>
        <table class="records_list">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Menu</th>
                </tr>
            </thead>
            <tbody>
                {% if pagination|length == 0 %}
                    <p>No hay resultados</p>
                {% endif %}
                {% for entity in pagination if entity.usuario.rol.nombre == key %}
                    <tr>
                        <td>{% if entity.dia %}{{ entity.dia|date('d/m/Y') }}{% endif%}</td>
                        <td>{{ entity.usuario.nombre }}</td>
                        <td>hola</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}

