
<div id="my-col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <h1>Reporte Ingresos</h1>

    <form class="reporte_ingresos_form generic" action="{{ app.request.uriForPath('/contabilidad/reporteingresos') }}" method="post">
        {#
        {{ form_widget(filter_form) }}
        #}
        <a class="reporte_ingresos_link" href="{{ app.request.uriForPath('/contabilidad/preporteingresos') }}" alt="imprimir reporte">Imprimir Reporte</a>

        <div id="reporte-rol-block" class="field">
            <label for="Rol">Rol</label>
            {{ form_widget(filter_form.rol, { 'attr': {'autocomplete': 'off', 'class': 'text'}}) }}
        </div>
        <div id="reporte-from-block" class="field">
            <label for="from">Desde</label>
            {{ form_widget(filter_form.from, { 'attr': {'autocomplete': 'off', 'class': 'text'}}) }}
        </div>
        <div id="reporte-from-block" class="field">
            <label for="from">Hasta</label>
            {{ form_widget(filter_form.to, { 'attr': {'autocomplete': 'off', 'class': 'text'}}) }}
        </div>
        <div class="action">
            <input id="login-submit" class="reporte_form_btn submit-button" type="submit" value="Filtrar" />
        </div>
        <div id="results"></div>
    </form>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
