
<div id="my-col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <h1>Reporte Usuarios</h1>

    <form class="reporte_usuarios_form" action="{{ app.request.uriForPath('/contabilidad/reporteusuarios') }}" method="post">
        <a class="reporte_usuarios_link" href="{{ app.request.uriForPath('/contabilidad/preporteusuarios') }}" alt="imprimir reporte">Imprimir Reporte</a>
        <table>
            <tr>
                <td>&nbsp;</td>
                <td>
                    {{ form_row(filter_form.cedula) }}
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Filtro</td>
                <td>
                    {{ form_widget(filter_form.from, { 'attr': {'autocomplete': 'off'}}) }}
                </td>
                <td>
                    {{ form_widget(filter_form.to, { 'attr': {'autocomplete': 'off'}}) }}
                </td>
            </tr>
            <tr>
                <td><button class="reporte_form_btn" type="submit">Filtrar</button></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <div id="results">
        </div>
    </form>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
