<div id="col-browser">{#<a href="#"><img src="{{ asset('img/browser.gif') }}" width="255" height="177" alt="" /></a>#}
</div>

<div id="col-text">

    <h2 id="slogan"><span></span>Place for your slogan.</h2>
    <h1>Reporte Usuarios</h1>

    <form class="reporte_usuarios_form" action="{{ app.request.uriForPath('/contabilidad/reporteusuarios') }}" method="post">
        {#
        {{ form_widget(filter_form) }}
        #}
        <a class="reporte_usuarios_link" href="{{ app.request.uriForPath('/contabilidad/preporteusuarios') }}" alt="imprimir reporte">Imprimir Reporte</a>
        {#
        {{ form_widget(filter_form.print , { 'attr': {'class': 'print'} }) }}
        <input type="hidden" class="pprint" id="pprint" name="pprint" value="">
        <button class="reporte_print_btn" type="submit">Imprimir</button>
        #}
        {#
        {{ form_row(filter_form.print) }}
        #}
        <table>
            <tr>
                <td>&nbsp;</td>
                <td>
                    {{ form_row(filter_form.cedula) }}
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Filtro</td>
                <td>
                    {{ form_widget(filter_form.from, { 'attr': {'autocomplete': 'off'}}) }}
                </td>
                <td>
                    {{ form_widget(filter_form.to, { 'attr': {'autocomplete': 'off'}}) }}
                </td>
            </tr>
            <tr>
                <td><button class="reporte_form_btn" type="submit">Filtrar</button></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <div id="results">
        </div>
    </form>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
